<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
       default-autowire="byName" default-lazy-init="false">


    <!-- dubbo监控，切勿删除 -->
    <dubbo:monitor protocol="registry"/>

    <dubbo:application name="my-dubbo-user" />

    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!-- question service-->
    <dubbo:service
            interface="com.king.service.classroominteraction.StudentExerciseService"
            protocol="dubbo" version="${service.dubbo.praxis.version}" timeout="5000" retries="0"
            ref="interaction.studentExerciseService"/>
</beans>